<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <style>
    body {
      background-color: #000000; /* Fondo negro */
      color: #ffffff; /* Texto blanco */
      font-family: Arial, sans-serif;
      padding: 20px;
      margin: 0;
    }
    .container {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      background-color: #1a1a1a;
      border-radius: 10px;
    }
    .header {
      text-align: center;
      padding-bottom: 20px;
    }
    .content {
      padding: 20px;
      background-color: #333333;
      border-radius: 10px;
    }
    .footer {
      text-align: center;
      padding-top: 20px;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="header">
      <h1>¡Gracias por inscribirte al evento, {{name}}!</h1>
    </div>
    <div class="content">
      <p>Te estaremos informando a través de tu correo. Hay capacidad limitada, esperamos verte.</p>
      <p>Estamos preparando este evento inspirado en la red de amistades que tejen a través de los tiempos el máximo valuarte que tenemos: Encontrarse. Una noche donde seguimos conservando la llama para que nunca se apague y hoy nos toca a nosotros para generar el puente de puerta a puerta en una casa abierta. La música, la comida y lo artesanal serán la danza que nos abrace. Próximamente te pasaremos más información. Capacidad limitada.</p>
    </div>

    <div class="footer">
      <p>&copy;2024 Casa Abierta</p>
    </div>
  </div>
</body>
</html>
